@tailwind base;
@tailwind components;
@tailwind utilities;

.no-border {
  border: none !important;
}

.light .code-block {
  background-color: #f6f8fa;
  color: #000;
}

.dark .code-block {
  background-color: #282c34;
  color: #f8f8f2;
}

.light .inline-code {
  background-color: #f6f8fa;
  color: #000;
}

.dark .inline-code {
  background-color: #2d2d2d;
  color: #f8f8f2;
}

.blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  color: #555;
  font-style: italic;
  margin: 1em 0;
}

.light .blockquote {
  border-color: #ddd;
  color: #555;
}

.dark .blockquote {
  border-color: #555;
  color: #bbb;
}


