.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 2em;
  margin-bottom: 0.5em; /* Adding margin-bottom for better spacing */
}

.markdown ul,
.markdown ol {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}

.markdown ol {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.2em; /* Ensure bullet points are positioned correctly */
}

.markdown li {
  display: list-item;
  align-items: flex-start;
  position: relative;
}

.markdown li > p {
  display: inline;
  margin-bottom: 4px;
  padding: 0;
}

.markdown code {
  background-color: #2b2b2b;
  color: #f8f8f2;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

.markdown .code-block {
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
  overflow-x: auto; /* Ensure horizontal scrolling if needed */
  background-color: #2b2b2b;
  color: #f8f8f2;
  font-size: 0.9em; /* Slightly reduce font size for better readability on mobile */
}

.markdown blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  color: #555;
  font-style: italic;
  margin: 1em 0;
}

.markdown a {
  color: #0070f3;
  text-decoration: none;
  border-bottom: 1px solid #0070f3;
}

.markdown .inline-code {
  background-color: #F2F2F2;
  color: black;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}