.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 2em;
  margin-bottom: 0.5em; /* Adding margin-bottom for better spacing */
}

.markdown h2 {
  @apply text-text-800 text-start sm:text-justify text-3xl font-bold mt-8 mb-4;
}

.markdown h3 {
  @apply text-text-700 text-start sm:text-justify text-2xl font-semibold mt-6 mb-3;
}

.markdown h4 {
  @apply text-text-600 text-start sm:text-justify text-xl font-medium mt-4 mb-2;
}

.markdown ul,
.markdown ol {
  @apply mb-6 sm:pl-6;
}

.markdown ol {
  @apply flex flex-col gap-6 sm:gap-2;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.2em; /* Ensure bullet points are positioned correctly */
}

.markdown li {
  display: list-item;
  align-items: flex-start;
  position: relative;
}

.markdown li > p {
  display: inline;
  margin-bottom: 4px;
  padding: 0;
}

.markdown code {
  background-color: #2b2b2b;
  color: #f8f8f2;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

.markdown .code-block {
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
  overflow-x: auto; /* Ensure horizontal scrolling if needed */
  background-color: #2b2b2b;
  color: #f8f8f2;
  font-size: 0.9em; /* Slightly reduce font size for better readability on mobile */
}

.markdown blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  color: #555;
  font-style: italic;
  margin: 1em 0;
}

.markdown a {
  @apply text-primary-400 border-b-2 border-transparent pb-0.5 transition-all duration-300;
}

.markdown a:hover {
  @apply text-primary-500 border-primary-300;
}

.markdown .inline-code {
  background-color: #F2F2F2;
  color: black;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  font-size: 0.9em;
}

.markdown strong {
  font-weight: bold;
}

/* -------- */

.markdown ul {
  list-style-type: disc; /* Default bullet style */
  margin-bottom: 1em; /* Space between list items */
  margin-left: 1.2em; /* Indentation for the list */
}

.markdown ul ul {
  list-style-type: circle; /* Second level uses circle bullets */
  margin-left: 1.5em; /* Further indentation for nested list */
}

.markdown ul ul ul {
  list-style-type: square; /* Third level uses square bullets */
  margin-left: 1.8em; /* Further indentation for deeper nested list */
}

.markdown li {
  margin-bottom: 0.5em; /* Space between list items */
}

